<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/Style/adminEdit.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <script src="https://kit.fontawesome.com/85dc7f73ae.js" crossorigin="anonymous"></script>
    <title>EditPublication</title>
</head>

<body>

    <!-- Sidebar -->
    <nav id="sidebar">
      <div>
        <h3 class="sidebar-header">Darul Hikmah</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a href="/getAdminPost"><i class="fa-solid fa-image"></i> Posts</a>
        </li>
        <li>
          <div class="dropdown">
            <span class="dropbtn"
              ><i class="fa-brands fa-readme"></i> Read
              <i class="fa fa-caret-down"></i>
            </span>
            <div class="dropdown-content">
              <a href="/getAdminBlog">Blogs</a>
              <a href="/getAdminInfographic">Infographics</a>
            </div>
          </div>
        </li>
        <li>
          <a href="/getAdminCourse"><i class="fa-solid fa-book"></i> Courses</a>
        </li>
        <li>
          <a href="/getAdminPublication"
            ><i class="fa-solid fa-book-bookmark"></i> Publications</a
          >
        </li>
        
      </ul>
    </nav>
    <div>
        <section class="section" id="blg">
            <div>
                <h3 class="Heading">Edit Publication</h3>
            </div>
            <div class="scroll">
                <form action="/getPublication/<%= EditPublication._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                    <label for="title">Title</label>
                    <input type="text" name="title" value="<%= EditPublication.title %>" required>

                    <label for="imageInput">Select Image:</label>
                    <img class="img" src="data:image/png;base64, <%= EditPublication.image %>" alt="Current Image">
                    <input type="file" name="images" accept="image/*" required>
                    <p>Note: Upload square image for better enhancement.</p>
                   
        
                    <label for="category">Choose Category:</label>
                    <select name="category">
                      <option value="By E-Books" <%= EditPublication.category === 'By E-Books' ? 'selected' : '' %>>E-Books</option>
                      <option value="By Academy" <%= EditPublication.category === 'By Academy' ? 'selected' : '' %>>Academy</option>
                      <option value="Resources" <%= EditPublication.category === 'Resources' ? 'selected' : '' %>>resource</option>
                  </select>
                  
                    <br>
                    <br>
                    <label for="pdfInput" class="label">Select PDF:</label>
                    <a href="/downloadPDF/<%= EditPublication._id %>" target="_blank">View Current PDF</a>
                    <input type="file" id="pdfInput" name="pdfs" accept=".pdf">
        
                    <label for="description";>Description:</label>
                    <textarea name="description" cols="30" rows="5"><%= EditPublication.description %></textarea>
                    </div>
                    <button class="button"><a style="color: #fff; text-decoration: none;" href="/getAdminPublication">Cancel</a></button>
                    <button class="button" type="submit">Submit</button>
              </form>
        </section>
    </div>

</body>

</html>